@{
}


<div class="container-fluid my-5 px-5">

    <div class="row" style="height: 1000px">
        <div class="col-lg table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Data
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>